<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <link rel="stylesheet" href="../../static/css/menu.css"/>
    <link rel="stylesheet" href="../../static/css/admin.css"/>
    <script src="/static/js/admin.js"></script>
</head>
<body>

<form>
    <div class="menu-wrap">
        <ul>
            <li><a>Меню</a>
                <ul>
                    <li><a th:href="@{/logout}">Выход</a></li>
                </ul>
            </li>
        </ul>
    </div>
</form>

<form method="post" th:action="@{/api/admin/user}" th:object="${newUser}" target="_blank">

    <div class="wrapper">
        <h3 class="modal-title">Новый пользователь</h3>

        <div>
            <br>
            <p>
                Имя
                <input class="input_text" th:field="*{name}" type="text" placeholder="Имя пользователя" required=""
                       id="userName"/> <br>
            </p>
            <p>
                Логин
                <input class="input_text" th:field="*{login}" type="text" placeholder="Логин" required=""/> <br>
            </p>
            <p>
                Пароль
                <!--<input class="input_text" type="text" placeholder="Пароль" required="" onchange="saveUser()"/> <br>-->
                <input class="input_text" type="text" th:field="*{password}" placeholder="Пароль" required="" /> <br>
            </p>
            <p>
                Роль
                <input class="input_text" th:field="*{role}" type="text" placeholder="Роль" required=""/> <br>
            </p>
            <p>Комментарий</p>
            <textarea class="input_text_area" th:field="*{comment}" placeholder="Комментарий"></textarea> <br>


        </div>
        <div>
            <p>
                Активировать пользователя
                <input class="cb" th:field="*{enabled}" type="checkbox"/>
            </p>
        </div>
        <div>
            <input class="btn_on" type="submit" value="Создать пользователя" onclick="saveUser()"/>
            <input class="btn_clear" type="reset" value="Очистить"/>
        </div>
        <!--<input id="passMd5" th:field="*{password}" type="text" placeholder="Пароль" hidden/> <br>-->
    </div>
</form>

</body>
</html>