<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="/static/js/upload_file.js" type="text/javascript"></script>
</head>
<body>

<!--<form id="upload-form">-->
<form method="post" enctype="multipart/form-data" action="/api/admin/cover">
    <label for="upload-movie-input">Загрузить видео</label>
    <input id="upload-movie-input" type="file" name="file" accept="video/mp4"/>


    <label for="upload-cover-input">Загрузить обложку</label>
    <input id="upload-cover-input" type="file" name="file" accept="image/png"/>

    <label for="upload-input">Загрузить</label>
    <input id="upload-input" type="submit" value="Upload"/>
</form>
</body>
</html>