<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <link rel="stylesheet" href="/static/css/menu.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <script src="/static/js/admin.js"></script>
</head>
<body>

<form>
    <div class="menu-wrap">
        <ul>
            <li><a>Меню</a>
                <ul>
                    <li><a th:href="@{/logout}">Выход</a></li>
                </ul>
            </li>
            <li><a>Настройки</a>
                <ul>
                    <!--<li><a id="btnNewUserLink">Ссылка для нового пользователя</a></li>-->
                </ul>
            </li>
            <!--<li><input type="button" id="btnReset" value="Сброс карт"/></li>-->
            <li><a id="serverAvailable"></a></li>
            <!--<li><a href="contact.html">Contact</a>-->
            <!--<ul>-->
            <!--<li><a href="address.html">Address</a></li>-->
            <!--<li><a href="policy.html">Policy</a></li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</form>


<p> _ </p>
<h1 th:text="${user.name}"></h1>

<table>
    <tr>
        <th>Имя</th>
        <th>Логин</th>
        <th>Роль</th>
        <th>Активен</th>
        <th>Блокировка</th>
        <th>Комментарий</th>
    </tr>
    <tr th:class="${user}">
        <td th:text="${user.name}" width="150"></td>
        <td width="150" th:text="${user.login}"></td>
        <td width="150" th:text="${user.role.comment}"></td>

        <td class="center" th:if="${user.enabled == true}" width="100" style="color: green">Активен</td>
        <td class="center" th:if="${user.enabled == false}" width="100" style="color: red">Заблокирован</td>
        <td th:width="120" class="center">
            <a th:href="@{/api/admin/checked/user(id=${user.id}, checked=false)}"
               th:if="${user.enabled == true}" onmouseup="reloadPage()">Заблокировать</a>
            <a th:href="@{/api/admin/checked/user(id=${user.id}, checked=true)}"
               th:if="${user.enabled == false}" onmouseup="reloadPage()">Разблокировать</a>
        </td>

        <td width="200" th:text="${user.comment}"></td>
    </tr>
</table>
<a th:href="@{/admin/user/edit(id=${user.id})}">Редактировать</a>
</body>
</html>