<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<!--<meta  name = "_csrf"  th:content = "${_csrf.token}" />-->
		<!--<meta  name = "_csrf_header"  th:content = "${_csrf.headerName}" />-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
		<title></title>
	<link href="/static/glass/order/order.css?c79969cbd19843a53322" rel="stylesheet"></head>
	<body>
		<div class="page"></div>
	<script type="text/javascript" src="/static/glass/order/order.js?c79969cbd19843a53322"></script></body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
            var data = JSON.stringify({
                "number": "C_1",
                "desc": "",
                "accountNumber": "11111",
                "discount": "0",
                "discountSum": "11150",
                "count": 3,
                "summa": "11150",
                "area": 3,
                "perimeter": 12,
                "client": {
                    "id": 1
                },
                "receptionOfOrder": {
                    "id": 2
                }
            });

            // debugger
            // var token = $("meta[name='_csrf']").attr("content");
            // console.log(token);
            // var header = $("meta[name='_csrf_header']").attr("content");

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.open("POST", "http://82.202.226.239:8085/api/order");
            xhr.setRequestHeader("content-type", "application/json");
            // xhr.setRequestHeader(header, token);

            xhr.send(data);
	</script>
</html>
