<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet/less" href="../../../static/css/style.less" type="text/css">
    <link rel="stylesheet/less" href="../../../static/css/main_page.css" type="text/css">
    <script src="../../../static/css/less.min.js"></script>
</head>
<body>

<div th:replace="glass/header :: header"></div>

<h1>Список заказов</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover table_order table-bordered">
        <tr>
            <th>Номер заказа</th>
            <th>Дата создания</th>
            <th>Заказчик</th>
            <th>Точка приема заказов</th>
            <th>Скидка</th>
            <th>Сумма</th>
            <th>Сумма скидки</th>
        </tr>
        <!--<tr th:each="order : ${orders}" onclick="document.location.href='@{/admin/user(id=${order.id})}'">-->
        <tr th:class="${order}">
            <!--<td width="200">-->
                <!--<a th:href="@{/admin/user(id=${order.id})}" th:text="${order.number}"></a>-->
            <!--</td>-->
            <!--<td width="200">-->
                <!--<a th:href="@{/admin/user(id=${order.id})}" th:text="${order.creationDate}"></a>-->
            <!--</td>-->
            <td width="150" th:text="${order.number}"></td>
            <td width="150" th:text="${order.creationDate}"></td>
            <td width="150" th:text="${order.client.name}"></td>
            <td width="150" th:text="${order.receptionOfOrder.name}"></td>
            <td width="150" th:text="${order.discount}"></td>
            <td width="150" th:text="${order.summa}"></td>
            <td width="150" th:text="${order.discountSum}"></td>
            <!--<td th:text="${users.login}" width="200"></td>-->
            <!--<td class="center" th:if="${users.enabled == true}" width="100" style="color: green">Активен</td>-->
            <!--<td class="center" th:if="${users.enabled == false}" width="100" style="color: red">Заблокирован</td>-->
            <!--<td th:width="120" class="center">-->

            <!--<a th:href="@{/api/admin/checked/user(id=${users.id}, checked=false)}"-->
            <!--th:if="${users.enabled == true}" onmouseup="reloadPage()">Заблокировать</a>-->
            <!--<a th:href="@{/api/admin/checked/user(id=${users.id}, checked=true)}"-->
            <!--th:if="${users.enabled == false}" onmouseup="reloadPage()">Разблокировать</a>-->
            <!--</td>-->
        </tr>
    </table>
</div>


</body>
</html>
