<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet/less" href="../../../static/css/style.less" type="text/css">
    <link rel="stylesheet/less" href="../../../static/css/main_page.css" type="text/css">
    <script src="../../../static/css/less.min.js"></script>
</head>
<body>

<div th:replace="glass/header :: header"></div>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="well">
                <div class="table-responsive">
                    <!--<form th:action="@{/api/material/color/{id}(id=${color.id})}" method="post" th:object="${color}">-->
                    <form th:action="@{/glass/color/{id}(id=${color.id})}" method="post" th:object="${color}">
                        <div class="form-group">
                            <!--<div class="col-md-12">-->
                                <div class="form-group">
                                    <h4 for="id_name">Название цвета</h4>
                                    <textarea class="form-control" cols="40" id="id_name" name="name" rows="3"
                                              required th:text="*{name}"/>
                                </div>
                            <!--</div>-->
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                        <a class="btn btn-default" th:href="@{/glass/colors}">
                            <span class="glyphicon"></span> Отменить
                        </a>
                        <a class="btn btn-danger" th:href="@{/glass/color/{id}/delete(id=${color.id})}">
                            Удалить
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
