body {
    background-color: #E1EEFD;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}

main {
    margin: 5em;
}

#PageHeader1 {
    background-color: #3A6D98;
    background-image: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Shape1 {
    border-width: 0;
}

#Image1 {
    border: 0px #000000 solid;
    padding: 0px 0px 0px 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#wb_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text1 div {
    text-align: left;
}

#Editbox1 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

#Editbox1:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#jQueryButton1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
}

#jQueryButton1 .ui-button {
    position: absolute;
    padding: 0;
}

#jQueryButton1.ui-corner-all {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

#jQueryButton1.ui-corner-all {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

#jQueryAccordion1 {
    width: 100%;
    height: 100%;
}

#wb_jQueryAccordion1 .ui-helper-reset {
    line-height: normal !important;
    font-size: 1em !important;
}

#jQueryAccordion1 .ui-accordion-header {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px !important;
    font-style: normal;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

#jQueryAccordion1 h3 {
    display: block;
    margin: 0;
}

#jQueryAccordion1 .ui-accordion-header .ui-icon {
    padding-right: 4px;
}

#jQueryAccordion1 .ui-accordion-content {
    padding: 0;
    position: relative;
}

#jQueryAccordion1, #jQueryAccordion1 > .ui-corner-all, #jQueryAccordion1 > .ui-corner-top {
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

#jQueryAccordion1 .ui-corner-all, #jQueryAccordion1 .ui-corner-bottom {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#Combobox1 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Combobox1:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#wb_Text2 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text2 div {
    text-align: left;
}

#wb_Text3 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text3 div {
    text-align: left;
}

#Combobox2 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Combobox2:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#wb_Text4 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text4 div {
    text-align: left;
}

#Combobox3, .new_order_combobox {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:300px;
}

#Combobox3, .new_order_combobox:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#TextArea1 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    overflow: auto;
    resize: none;
    width: 800px;
    height: 80px;
}

#TextArea1:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

.new_order_desc {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    overflow: auto;
    resize: none;
    width: 800px;
    height: 80px;
}

.new_order_desc:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#TextArea2 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    overflow: auto;
    resize: none;
}

#TextArea2:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#wb_Text5 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text5 div {
    text-align: left;
}

.new_order_discount {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
    width: 80px;
}

.new_order_discount:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#Editbox3 {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

#Editbox3:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#jQueryButton2, .order_button {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
}

#jQueryButton2, .order_button .ui-button {
    position: absolute;
    padding: 0;
}

#jQueryButton2, .order_button .ui-icon {
    left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

#jQueryButton2, .order_button .ui-corner-all {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

#jQueryButton2, .order_button .ui-corner-all {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

#wb_CssMenu1 {
    border: 0px #A9A9A9 solid;
    border-radius: 13px;
    background-color: transparent;
}

#wb_CssMenu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu1 li {
    float: left;
    margin: 0;
    padding: 1px 4px 1px 0px;
    width: 64px;
}

#wb_CssMenu1 a {
    display: block;
    float: left;
    color: #333333;
    border: 2px #4F4F4F solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    background-image: url(images/gear.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    width: 50px;
    height: 60px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
}

#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover {
    color: #FFFFFF;
    background-color: #87CEEB;
    background-image: url(images/gear.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px #FFFFFF solid;
}

#wb_CssMenu1 li.firstmain {
    padding-left: 1px;
}

#wb_CssMenu1 li.lastmain {
    padding-right: 1px;
}

#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover {
    position: relative;
}

#wb_CssMenu1 a.withsubmenu {
    padding: 0 5px 0 5px;
    width: 50px;
    background-image: url(images/gear.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover {
    background-image: url(images/gear.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu1 ul ul {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 200px;
    height: auto;
    border: none;
    background-color: transparent;
    -moz-box-shadow: 5px 5px 20px #808080;
    -webkit-box-shadow: 5px 5px 20px #808080;
    box-shadow: 5px 5px 20px #808080;
}

#wb_CssMenu1 ul :hover ul {
    left: 0px;
    top: 66px;
    padding-top: 0px;
    visibility: visible;
}

#wb_CssMenu1 .firstmain:hover ul {
    left: 1px;
}

#wb_CssMenu1 li li {
    width: 200px;
    padding: 0 0px 0px 0px;
    border: 0px #C0C0C0 solid;
    border-width: 0 0px;
}

#wb_CssMenu1 li li.firstitem {
    border-top: 0px #C0C0C0 solid;
}

#wb_CssMenu1 li li.lastitem {
    border-bottom: 0px #C0C0C0 solid;
}

#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a, #wb_CssMenu1 ul :hover ul :hover ul a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul a {
    float: none;
    margin: 0;
    width: 186px;
    height: auto;
    white-space: normal;
    padding: 9px 6px 8px 6px;
    background-color: #D8EAFE;
    background-image: none;
    border: 1px #4F4F4F solid;
    border-radius: 0;
    color: #333333;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    line-height: 13px;
    text-align: left;
    text-decoration: none;
}

#wb_CssMenu1 ul :hover ul .firstitem a, #wb_CssMenu1 ul :hover ul :hover ul .firstitem a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul .firstitem a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul .firstitem a {
    margin-top: 0px;
}

#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul :hover ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul :hover ul a:hover {
    background-color: #337AB7;
    background-image: none;
    border: 1px #2E6DA4 solid;
    color: #FFFFFF;
}

#wb_CssMenu1 ul ul a.withsubmenu, #wb_CssMenu1 ul :hover ul a.withsubmenu, #wb_CssMenu1 ul :hover ul :hover ul a.withsubmenu, #wb_CssMenu1 ul :hover ul :hover ul :hover ul a.withsubmenu, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul a.withsubmenu {
    width: 188px;
    padding: 9px 5px 8px 5px;
    background-image: none;
}

#wb_CssMenu1 ul ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover, #wb_CssMenu1 ul ul :hover ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover a.withsubmenu:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover a.withsubmenu:hover a.withsubmenu:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover a.withsubmenu:hover a.withsubmenu:hover a.withsubmenu:hover {
    background-image: none;
}

#wb_CssMenu1 ul :hover ul ul, #wb_CssMenu1 ul :hover ul :hover ul ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul ul {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#wb_CssMenu1 ul :hover ul :hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul :hover ul {
    left: 200px;
    top: 0px;
    visibility: visible;
}

#wb_CssMenu1 ul :hover ul .firstitem:hover ul, #wb_CssMenu1 ul :hover ul :hover ul .firstitem:hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul .firstitem:hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul .firstitem:hover ul {
    top: 0px;
}

#wb_CssMenu1 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

#wb_CssMenu2 {
    border: 0px #A9A9A9 solid;
    border-radius: 13px;
    background-color: transparent;
}

#wb_CssMenu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu2 li {
    float: left;
    margin: 0;
    padding: 1px 4px 1px 0px;
    width: 64px;
}

#wb_CssMenu2 a {
    display: block;
    float: left;
    color: #333333;
    border: 2px #4F4F4F solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    background-image: url(images/account_book.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    width: 50px;
    height: 60px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
}

#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover {
    color: #FFFFFF;
    background-color: #87CEEB;
    background-image: url(images/account_book.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px #FFFFFF solid;
}

#wb_CssMenu2 li.firstmain {
    padding-left: 1px;
}

#wb_CssMenu2 li.lastmain {
    padding-right: 1px;
}

#wb_CssMenu2 li:hover, #wb_CssMenu2 li a:hover {
    position: relative;
}

#wb_CssMenu2 a.withsubmenu {
    padding: 0 5px 0 5px;
    width: 50px;
    background-image: url(images/account_book.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu2 li:hover a.withsubmenu, #wb_CssMenu2 a.withsubmenu:hover {
    background-image: url(images/account_book.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu2 ul ul {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 200px;
    height: auto;
    border: none;
    background-color: transparent;
    -moz-box-shadow: 5px 5px 20px #808080;
    -webkit-box-shadow: 5px 5px 20px #808080;
    box-shadow: 5px 5px 20px #808080;
}

#wb_CssMenu2 ul :hover ul {
    left: 0px;
    top: 66px;
    padding-top: 0px;
    visibility: visible;
}

#wb_CssMenu2 .firstmain:hover ul {
    left: 1px;
}

#wb_CssMenu2 li li {
    width: 200px;
    padding: 0 0px 0px 0px;
    border: 0px #C0C0C0 solid;
    border-width: 0 0px;
}

#wb_CssMenu2 li li.firstitem {
    border-top: 0px #C0C0C0 solid;
}

#wb_CssMenu2 li li.lastitem {
    border-bottom: 0px #C0C0C0 solid;
}

#wb_CssMenu2 ul ul a, #wb_CssMenu2 ul :hover ul a {
    float: none;
    margin: 0;
    width: 186px;
    height: auto;
    white-space: normal;
    padding: 9px 6px 8px 6px;
    background-color: #D8EAFE;
    background-image: none;
    border: 1px #000000 solid;
    border-radius: 0;
    color: #333333;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    line-height: 13px;
    text-align: left;
    text-decoration: none;
}

#wb_CssMenu2 ul :hover ul .firstitem a {
    margin-top: 0px;
}

#wb_CssMenu2 ul ul :hover a, #wb_CssMenu2 ul ul a:hover, #wb_CssMenu2 ul ul :hover ul :hover a, #wb_CssMenu2 ul ul :hover ul a:hover {
    background-color: #337AB7;
    background-image: none;
    border: 1px #2E6DA4 solid;
    color: #FFFFFF;
}

#wb_CssMenu2 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

#wb_CssMenu3 {
    border: 0px #A9A9A9 solid;
    border-radius: 13px;
    background-color: transparent;
}

#wb_CssMenu3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu3 li {
    float: left;
    margin: 0;
    padding: 1px 4px 1px 0px;
    width: 64px;
}

#wb_CssMenu3 a {
    display: block;
    float: left;
    color: #333333;
    border: 2px #4F4F4F solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    background-image: url(images/customer.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    width: 50px;
    height: 60px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
}

#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover {
    color: #FFFFFF;
    background-color: #87CEEB;
    background-image: url(images/customer.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px #FFFFFF solid;
}

#wb_CssMenu3 li.firstmain {
    padding-left: 1px;
}

#wb_CssMenu3 li.lastmain {
    padding-right: 1px;
}

#wb_CssMenu3 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

#wb_CssMenu4 {
    border: 0px #A9A9A9 solid;
    border-radius: 13px;
    background-color: transparent;
}

#wb_CssMenu4 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#wb_CssMenu4 li {
    float: left;
    margin: 0;
    padding: 1px 4px 1px 0px;
    width: 64px;
}

#wb_CssMenu4 a {
    display: block;
    float: left;
    color: #333333;
    border: 2px #4F4F4F solid;
    border-radius: 10px;
    background-color: #FFFFFF;
    background-image: url(images/employee-edit.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    width: 50px;
    height: 60px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
}

#wb_CssMenu4 li:hover a, #wb_CssMenu4 a:hover {
    color: #FFFFFF;
    background-color: #87CEEB;
    background-image: url(images/employee-edit.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px #FFFFFF solid;
}

#wb_CssMenu4 li.firstmain {
    padding-left: 1px;
}

#wb_CssMenu4 li.lastmain {
    padding-right: 1px;
}

#wb_CssMenu4 li:hover, #wb_CssMenu4 li a:hover {
    position: relative;
}

#wb_CssMenu4 a.withsubmenu {
    padding: 0 5px 0 5px;
    width: 50px;
    background-image: url(images/employee-edit.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu4 li:hover a.withsubmenu, #wb_CssMenu4 a.withsubmenu:hover {
    background-image: url(images/employee-edit.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#wb_CssMenu4 ul ul {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100px;
    height: auto;
    border: none;
    background-color: transparent;
    -moz-box-shadow: 5px 5px 20px #808080;
    -webkit-box-shadow: 5px 5px 20px #808080;
    box-shadow: 5px 5px 20px #808080;
}

#wb_CssMenu4 ul :hover ul {
    left: 0px;
    top: 66px;
    padding-top: 0px;
    visibility: visible;
}

#wb_CssMenu4 .firstmain:hover ul {
    left: 1px;
}

#wb_CssMenu4 li li {
    width: 100px;
    padding: 0 0px 0px 0px;
    border: 0px #C0C0C0 solid;
    border-width: 0 0px;
}

#wb_CssMenu4 li li.firstitem {
    border-top: 0px #C0C0C0 solid;
}

#wb_CssMenu4 li li.lastitem {
    border-bottom: 0px #C0C0C0 solid;
}

#wb_CssMenu4 ul ul a, #wb_CssMenu4 ul :hover ul a {
    float: none;
    margin: 0;
    width: 86px;
    height: auto;
    white-space: normal;
    padding: 9px 6px 8px 6px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px #000000 solid;
    border-radius: 0;
    color: #333333;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    line-height: 13px;
    text-align: left;
    text-decoration: none;
}

#wb_CssMenu4 ul :hover ul .firstitem a {
    margin-top: 0px;
}

#wb_CssMenu4 ul ul :hover a, #wb_CssMenu4 ul ul a:hover, #wb_CssMenu4 ul ul :hover ul :hover a, #wb_CssMenu4 ul ul :hover ul a:hover {
    background-color: #337AB7;
    background-image: none;
    border: 1px #2E6DA4 solid;
    color: #FFFFFF;
}

#wb_CssMenu4 br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

.jQueryToolTip1 {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid !important;
    border-radius: 5px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

.jQueryToolTip1 .ui-tooltip-content {
    position: relative;
    padding: 4px 4px 4px 4px;
}

.jQueryToolTip1 .ui-tooltip-content::after, .jQueryToolTip1 .ui-tooltip-content::before {
    border-style: solid;
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -10px;
}

.jQueryToolTip1 .ui-tooltip-content::before {
    right: -10px;
    border-color: transparent #CCCCCC;
    border-width: 10px 0 10px 10px;
}

.jQueryToolTip1 .ui-tooltip-content::after {
    right: -9px;
    border-color: transparent #FFFFFF;
    border-width: 10px 0 10px 10px;
}

.jQueryToolTip2 {
    background-image: none;
    background-color: #F0F8FF;
    border: 1px #CCCCCC solid !important;
    border-radius: 5px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

.jQueryToolTip2 .ui-tooltip-content {
    position: relative;
    padding: 4px 4px 4px 4px;
}

.jQueryToolTip2 .ui-tooltip-content::after, .jQueryToolTip2 .ui-tooltip-content::before {
    border-style: solid;
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -10px;
}

.jQueryToolTip2 .ui-tooltip-content::before {
    right: -10px;
    border-color: transparent #CCCCCC;
    border-width: 10px 0 10px 10px;
}

.jQueryToolTip2 .ui-tooltip-content::after {
    right: -9px;
    border-color: transparent #F0F8FF;
    border-width: 10px 0 10px 10px;
}

.jQueryToolTip3 {
    background-image: none;
    background-color: #F0F8FF;
    border: 1px #CCCCCC solid !important;
    border-radius: 5px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

.jQueryToolTip3 .ui-tooltip-content {
    position: relative;
    padding: 4px 4px 4px 4px;
}

.jQueryToolTip3 .ui-tooltip-content::after, .jQueryToolTip3 .ui-tooltip-content::before {
    border-style: solid;
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -10px;
}

.jQueryToolTip3 .ui-tooltip-content::before {
    right: -10px;
    border-color: transparent #CCCCCC;
    border-width: 10px 0 10px 10px;
}

.jQueryToolTip3 .ui-tooltip-content::after {
    right: -9px;
    border-color: transparent #F0F8FF;
    border-width: 10px 0 10px 10px;
}
