<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <title>Авторизация</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Добро пожаловать</h1>
    <p class="alert alert-danger" role="alert" th:if="${param.error}">Неправильное имя или пароль.</p>
    <label for="input_login" class="sr-only">Login</label>
    <input type="text" id="input_login" class="form-control" placeholder="Login" required autofocus name="username">
    <label for="input_password" class="sr-only">Password</label>
    <input type="password" id="input_password" class="form-control" placeholder="Password" required name="password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

</body>
</html>