html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: PT Sans, sans-serif, Arial, Verdana;
  font-size: 14px;
}

.layout-eckJb {
  height:  100%;
}
.title-vh8hp {
  margin: 25px 0 10px 0;
  padding: 0 15px;
  font-weight: normal;
}
.data-table-1jWnW {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.cell-1kfda {
  border-bottom: 1px solid #ddd;
  padding: 8px 15px;
}

.cell_header-3zmIm {
  padding: 10px 15px;
  text-align: left;
}

.row-3xuaE:hover {
  background: #efefef;
}

.row_header-ZVuYp:hover {
  background: none;
}
.header-3DJUc {
  width: 100%;
  height: 65px;
  background: #03a9f4;
}

.header-menu-1RgNg {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.menu-item-1PPMS {
  padding: 8px 20px;
  margin-right: 15px;
  color: #fff;
  background: rgba(255, 255, 255, .2);
  border-radius: 3px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.menu-item-1PPMS:hover {
  background: rgba(255, 255, 255, .4);
  cursor: pointer;
}
.select-sY9e_ {
  border: 1px solid #ddd;
}

.control-33GvV {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.select-cell-2OSCk {
  padding-top: 0;
  padding-bottom: 0;
}

.select-1bmMa {
  height: 26px;
}
