<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet/less" href="../../../static/css/style.less" type="text/css">
    <link rel="stylesheet/less" href="../../../static/css/main_page.css" type="text/css">
    <script src="../../../static/css/less.min.js"></script>
</head>
<body>

<div th:replace="glass/header :: header"></div>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="table-responsive">
                    <h1>Список клиентов</h1>
                    <div class="panel-group">
                        <a data-toggle="modal" data-parent="#accordion" href="#addItem">
                            <span class="glyphicon glyphicon-plus order_add_accord"></span>
                            Добавить
                        </a>
                    </div>
                    <table class="table table-striped table-hover table_order table-bordered">
                        <tr>
                            <th>Тип клиента</th>
                            <th>ФИО</th>
                            <th>ИНН</th>
                            <th>Рассчетный счет</th>
                            <th>Телефон</th>
                            <th>email</th>
                            <th>Скидка,%</th>
                            <th>Комментарий</th>
                            <th></th>
                            <!--<th></th>-->
                        </tr>
                        <tr th:each="dto : ${dtos}">
                            <!--th:onclick="'window.location.href = \'' + @{/glass/color/{id}(id=${color.id})} + '\''">-->
                            <td th:text="${dto.type}"></td>
                            <td th:text="${dto.name}"></td>
                            <td th:text="${dto.inn}"></td>
                            <td th:text="${dto.account}"></td>
                            <td th:text="${dto.phone}"></td>
                            <td th:text="${dto.email}"></td>
                            <td th:text="${dto.discount}"></td>
                            <td th:text="${dto.desc}"></td>
                            <td>
                                <a data-toggle="modal" th:href="'#editItem' + ${dto.id}"><span
                                        class="glyphicon glyphicon-edit"></span></a>

                                <!--<div th:id="'editItem' + ${dto.id}" class="modal fade">-->
                                    <!--<div class="modal-dialog">-->
                                        <!--<div class="modal-content">-->
                                            <!--<div class="modal-header">-->
                                                <!--<button type="button" class="close" data-dismiss="modal"-->
                                                        <!--aria-label="Close">-->
                                                    <!--<span aria-hidden="true">&times;</span></button>-->
                                                <!--<h4 class="modal-title">Редактировать</h4>-->
                                            <!--</div>-->
                                            <!--<div class="modal-body">-->
                                                <!--<form th:action="@{/glass/reception/{id}(id=${dto.id})}"-->
                                                      <!--method="post"-->
                                                      <!--th:object="${dto}">-->
                                                    <!--<div class="form-group bootstrap3-required">-->
                                                        <!--<div class="col-md-12">-->
                                                            <!--<div class="form-group">-->
                                                                <!--<span><strong>Название типа работы</strong></span>-->
                                                                <!--<input class="form-control"-->
                                                                          <!--name="name"-->
                                                                          <!--required th:value="*{name}" title=""/>-->
                                                            <!--</div>-->
                                                            <!--<div class="form-group">-->
                                                                <!--<span><strong>Префикс номера заказов</strong></span>-->
                                                                <!--<input class="form-control"-->
                                                                       <!--name="orderNumPrefix"-->
                                                                       <!--required th:value="*{orderNumPrefix}"/>-->
                                                            <!--</div>-->
                                                            <!--<div class="form-group">-->
                                                                <!--<span><strong>Адрес</strong></span>-->
                                                                <!--<textarea class="form-control"-->
                                                                          <!--name="address"-->
                                                                          <!--rows="3"-->
                                                                          <!--required th:text="*{address}">-->
                                                                <!--</textarea>-->
                                                            <!--</div>-->
                                                            <!--<div class="form-group">-->
                                                                <!--<span><strong>Телефон</strong></span>-->
                                                                <!--<input class="form-control"-->
                                                                       <!--name="phone"-->
                                                                       <!--required th:value="*{phone}"/>-->
                                                            <!--</div>-->
                                                            <!--<div class="form-group">-->
                                                                <!--<span><strong>Описание</strong></span>-->
                                                                <!--<textarea class="form-control"-->
                                                                          <!--name="name"-->
                                                                          <!--rows="3"-->
                                                                          <!--required th:text="*{desc}">-->
                                                                <!--</textarea>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<button type="submit" class="btn btn-primary">-->
                                                        <!--Сохранить-->
                                                    <!--</button>-->

                                                    <!--<a th:width="100" class="btn btn-default"-->
                                                       <!--th:href="@{/glass/reception}">-->
                                                        <!--Отменить-->
                                                    <!--</a>-->
                                                    <!--<a class="btn btn-danger"-->
                                                       <!--th:href="@{/glass/reception/{id}/delete(id=${dto.id})}">-->
                                                        <!--Удалить-->
                                                    <!--</a>-->
                                                <!--</form>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </td>
                        </tr>
                    </table>
                    <div id="table1Pager"></div>
                    <div class="panel-group">
                        <a data-toggle="modal" data-parent="#accordion" href="#addItem">
                            <span class="glyphicon glyphicon-plus order_add_accord"></span>
                            Добавить
                        </a>
                    </div>
                    <!--<div id="addItem" class="modal fade">-->
                        <!--<div class="modal-dialog">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                        <!--<span aria-hidden="true">&times;</span></button>-->
                                    <!--<h4 class="modal-title">Добавить</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body">-->
                                    <!--<form th:action="@{/glass/reception}" method="post">-->
                                        <!--<div class="form-group bootstrap3-required">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<div class="form-group">-->
                                                    <!--<span><strong>Название точки приема заказов</strong></span>-->
                                                    <!--<input class="form-control"-->
                                                           <!--name="name"-->
                                                           <!--required th:text="*{name}"/>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<span><strong>Префикс номера заказов</strong></span>-->
                                                    <!--<input class="form-control"-->
                                                           <!--name="orderNumPrefix"-->
                                                           <!--required th:text="*{orderNumPrefix}"/>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<span><strong>Адрес</strong></span>-->
                                                    <!--<textarea class="form-control"-->
                                                              <!--name="address"-->
                                                              <!--rows="3"-->
                                                              <!--required th:text="*{address}">-->
                                                                <!--</textarea>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<span><strong>Телефон</strong></span>-->
                                                    <!--<input class="form-control"-->
                                                           <!--name="phone"-->
                                                           <!--required th:text="*{phone}"/>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<span><strong>Описание</strong></span>-->
                                                    <!--<textarea class="form-control"-->
                                                              <!--name="name"-->
                                                              <!--rows="3"-->
                                                              <!--required th:text="*{desc}">-->
                                                                <!--</textarea>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<button type="submit" class="btn btn-primary">-->
                                            <!--Сохранить-->
                                        <!--</button>-->
                                        <!--<a class="btn btn-default" th:href="@{/glass/reception}">-->
                                            <!--Отменить-->
                                        <!--</a>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
