<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/reception-of-order.css"/>

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet/less" href="../../static/css/style.less" type="text/css">
    <link rel="stylesheet/less" href="../../static/css/main_page.css" type="text/css">
    <script src="../../static/css/less.min.js"></script>

    <title>Авторизация</title>
</head>

<body class="text-center">

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Добро пожаловать</h1>
        <h2>В какой точке приёма заказов вы находитесь?</h2>

        <form class="aut_form" th:action="@{/glass/login-reception-of-order}" th:object="${receptionOfOrder}"
              method="post">
            <div>
                <select class="btn btn-secondary dropdown-toggle btn-lg" id="id_reception_of_order"
                        name="reception_of_order" title=""
                        required th:field="*{id}">
                    <option th:each="n : ${receptions}" th:value="${n.id}" th:text="${n.name}"/>
                </select>
            </div>
            <div class="m-2">
                <button type="submit" class="btn btn-lg btn-primary">
                    Войти &raquo;
                </button>
            </div>
        </form>
    </div>
</main>

</body>
</html>